html {
	background-color: #F3F5FC;
}

/********************************************/
header{
	margin-top: 10px;
	margin-bottom: 20px;
}
.logo{
	margin-left: 50px;
	display: inline-block;
}
header h1 {
	display: inline-block;
	margin-left: 29.5%;
	font-size: 70px;
	font-family: 'Play', sans-serif;
	font-weight: bold;
	text-decoration: underline ;
	text-shadow: 5px 1px 5px blueviolet;
		
}

/************  MENSAGEM INICIAL ************************/
.divMsgInicial{
	padding-top: 30px;
	font-family: 'Play', sans-serif;
	width: 50%;
	margin: auto;
}

.divMsgInicial h1{
	padding-bottom: 20px;
	font-size:30px ;
	text-align: center;
}

.divMsgInicial p{
	text-align: center;
}

/********************   *BOTOES INICIAIS*    *************************/

.btnsIniciais{
	padding: 200px 0 0;
	text-align: center;
	width: 33%;
	height: 300px;
	margin: auto;

}

.btnIniciar,.btnAdd,.btnAleatorio{
	width: 200px;
	height: 150px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border-radius: 50px;
	margin-left: 19px;
	font-family: 'Play', sans-serif;
	border: outset 6px white;

}

.btnIniciar{
	background-color: blue;
}

.btnAdd{
	background-color: blueviolet;
}

.btnAleatorio{
	background-color: yellowgreen;
}



/****************           *FORCA*       ************************/

.divForca{
margin-top: 50px;
width: 800px;
margin: auto;

}

/********** LETRAS PARA PRESSIONAR ****************/

.letrasPress{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;

}

.palavraSecreta{
	position: absolute;
	width: 800px;
	text-align: center;
	background-color: wheat;
	left: 25%;
	top: 63%;
}

.palavraSecreta div{
	display: inline-block;
	border-bottom: solid black 5px;
	font-size: 40px;
	margin-right: 3px;
	width: 30px;


}

.estiloLetras{
	text-align: center;
	width: 35px;
	font-size: 25px;
	border-color: red;
	border-radius: 10px;
	font-family: 'Play', sans-serif;
	padding: 5px;
	background-color:rgba(0, 200, 150, 0.5) ;
}

.esconderLetra{
	color:wheat ;
}

/********* LETRAS JA PRESSIONADAS ****************/

.letrasJaPressionadas{
	background-color: blue;
	width: 250px;
	height: 250px;
	position: absolute;
	top: 200px;
	right: 150px;
}




/******* BOTÕES DO JOGO **********/

.btnsNoJogo{
	text-align: center;
	margin-top: px;
}

.btnNovoJogo,.btnDesistir{
	width: 200px;
	height: 70px;
	color:#2A05DF;
	font-size: 20px;
	font-weight: bold;
	border-radius: 50px;
	margin-left: 19px;
	font-family: 'Play', sans-serif;
	border: outset 6px white;
}

.btnNovoJogo{
	background-color: lightgreen;
}

.btnDesistir{
	background-color: indianred;
}


/****** ADICIONAR PALAVRAS **********/

.divAddPalavras{
	width: 500px;
	margin: auto;
	padding-top: 100px;
}

.inputAdd{
	width: 450px;
	height: 300px;
	font-size: 30px;
	font-weight: bold;
	display: block;
	margin-bottom: 80px;

}

.btnSalvar,.btnVoltar{
	width: 200px;
	height: 70px;
	color:#2A05DF;
	font-size: 20px;
	font-weight: bold;
	border-radius: 50px;
	margin-right: 19px;
	font-family: 'Play', sans-serif;
	border: outset 6px white;

}

.btnVoltar{

}

/**********   RODAPÉ ***************/

footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: rgba(138,43,226, 0.45);
}

footer p{
	height: 20px;
	padding: 5px 0 0;
	margin: 0;
	font-family: 'Play', sans-serif;
	color: white;
}

/*------------- INVISIVEL -----------------*/ 
.invisivel{
	display: none;
}

/************  PERDEU ou GANHOU***************/

.msgPerdeu{
	font-size: 40px;
	color: red;
	font-weight: bold;
}

.msgGanhou{
	font-size: 40px;
	color: green;
	font-weight: bold;
}